body {
    height: 100vh;
    background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
    background-repeat: no-repeat;
    position: relative;
}

.panel{
    padding: 50% 20px;
    margin: 5% 15%;
    background: #fafafa;
}

.panel-in>p{
    color: #323232;
}
