body {
    background-image: url(images/background2.png);
    position: relative;
    z-index: 0;
}

.panel{
    padding: 50% 20px;
    margin: 5% 15%;
    color: white;
    background: #cde4ff;
    border-top: solid 5px #5989cf;
    border-bottom: solid 5px #5989cf;
}
