@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
@media screen and (max-width: 420px) {
    body {
        font-family: "Noto Sans CJK JP Regular";
    }
    #panel {
        width: 80vw;
        height: 70vh;
        margin: 5vh auto;
        text-align: center;
        background: #dbddf2;
        background-image: linear-gradient(rgba(152, 196, 255, .3) .1em, transparent .1em);
        background-size: auto 2rem;
        line-height: 2rem;
        overflow: hidden;
    }
    .phaseButton {
        width: 80vw;
        height: 6vh;
        margin: 0vh 7.5vw 2vh;
        text-align: center;
        font-family: "Noto Sans CJK JP Regular";
        font-size: 6vw;
        background: #e7e7e7;
        border-style: none;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    }
    .phaseButton:active {
        box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
        transform: translateY(2px);
    }
    .phaseButton#showButton {
        border-left: solid 10px #5958d0;
        color: #5958d0;
    }
    .phaseButton#nextButton {
        border-left: solid 10px #d05958;
        color: #d05958;
    }
    #kogo {
        padding-top: 10vh;
        color: #323232;
        font-family: "Noto Sans CJK JP Medium";
        font-size: 12vw;
    }
    #gendaigo {
        padding-top: 5vh;
        color: #323232;
        font-family: "Noto Sans CJK JP Regular";
        font-size: 8vw;
    }
}

@media screen and (min-width: 421px) {
    /*.back {
    height: 100vh;
    background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
    background-repeat: no-repeat;
    background-size: cover;
    }*/
    #panel {
        width: 80%;
        height: 20vh;
        margin: 5vh auto;
        border-radius: 10px;
        background: #5958d0;
        text-align: center;
        font-size: 8vw;
    }
    #nextButton {
        color: #5958d0;
        vertical-align: middle;
        margin: 10vw;
        line-height: 1.42;
        padding: 3% 5%;
        font-weight: normal;
        text-align: center;
        border-width: 2px;
        border-style: solid;
        background: transparent;
        border-radius: 10px;
        cursor: pointer;
        user-select: none;
        position: relative;
        border-style: solid;
        overflow: hidden;
        transition: background-color 0.3s, color 0.3s;
    }
    #panel p {
        color: #323232;
    }
}